<h1 class="text-white"><u>Text Chat App</u></h1><br>

<div class="input-group input-group-lg">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-lg">Message</span>
  </div>
  <input #message id="messages" placeholder="Enter Your Message" type="text" class="form-control" aria-label="Message post" aria-describedby="button-addon2">
</div>
<br>
<br>
<div id="post-button" >
  <button (click)="newMessage(message.value)" class="btn btn-outline-primary" type="button" id="button-addon2">Post Message</button><br><br>
  <button (click)="deletePosts()" class="btn btn-outline-primary" type="button" id="button-addon2">Clear Posts</button>
</div>
<br>
<br>
<section class="container">
  <div class="card" *ngFor="let message of messages | async; let i = index" >
    <h4 class="card-header bg-secondary text-white" *ngIf="i % 2 !== 0; else odd">
      Post #{{ i + 1 }} 
    </h4>
    <ng-template #odd>
      <h4 class="card-header bg-primary text-white">
        Post #{{ i + 1 }}
      </h4>
    </ng-template>
    <div class="card-body">
      <p class="card-text">
        {{ message }}
      </p>
    </div>
  </div>
</section>

